*{
  margin: 0;
  padding: 0;
  overflow:hidden;
}

body {
 background:#333; 
}

label{
	color:#BDC3C7;
	font-size:17px;
}

p{
	color:#7F8C8D;
}

.modal-stupid{
	z-index: 100000;
	background: #eff0f2;
	padding: 20px;
	border-radius: 5px;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	width:500px;
  	height:350px;
}

.modal-stupid ul{
	background: #fff;
	padding:20px;
}

.modal-stupid .header{
	color:#BDC3C7;
	font-size:20px;
	font-family: "fantasy";
	line-height: 40px;
	border-bottom: 1px solid #BDC3C7
}

.modal-stupid .body{
	padding:20px;
}

.modal-stupid .body .warning{
	float: left;
	width:100px;
	color:#C0392B;
	width:200px;
	font-size:14px;
}

.modal-stupid .body div{
	padding:20px;
	position: relative;
}

#c{
  display:block;
}

.score{
	position: absolute;
	top:100px;
	right:0px;
	z-index:1000;
	background: #3e4548;
	width:180px;
	height:160px;
	border-radius: 5px;
	padding:20px 5px;
	color:#aaa;
}
.score div{
	padding:12px;
	text-align: left;
}
.dataArea{
	position: absolute;
	bottom: 0px;
	right:0px;
	width:180px;
	height:100px;
	background: #3e4548;
}

.result{
	position: absolute;
	width:500px;
	height:400px;
	left:450px;
	top:100px;
	background: #3e4548;
	border-radius: 5px;
	display: none;
}

.result .title{
	padding:30px 50px;
	color:#fff;
	border-bottom: 1px solid #aaa;
	width:60%;
	font-size: 25px;
	margin-left:20px;
}

.result .body{
	padding:20px 50px;
	width:60%;
	color:#fff;
}

.result .body div{
	padding:40px 50px;
}

.result .restart{
	padding:10px 30px;
	background: #777;
	border-radius: 3px;
	width:100px;
	text-align: center;
	color:#fff;
	cursor: pointer;
	margin:0 auto;
}
.result .restart:hover{
	background: #aaa;
}

.description{
	position: absolute;
	width:200px;
	height:300px;
	left:0px;
	top:15%;
	background: #3e4548;
	color:#aaa;
	padding:15px;
	border-radius: 5px
}
.description .title{
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}
.description .content{
	padding-top:10px;
}